@import '@fontsource/inter';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-bg {
    background-size: 50px 50px;
    background-image: 
      linear-gradient(to right, rgba(124, 58, 237, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(124, 58, 237, 0.05) 1px, transparent 1px);
  }
  .dark .grid-bg {
    background-image: 
      linear-gradient(to right, rgba(124, 58, 237, 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(124, 58, 237, 0.1) 1px, transparent 1px);
  }
}